$mainFont: 'MiniFont', arial, helvetica;
$detailsFont:  'Helvetica Neue', Helvetica, Arial, sans-serif;
$sIconBkgrd: url("../images/header-grey-grad.jpg");
$intructionsFont: arial, helvetica, sans-serif;
$overlayBC:rgba(255,255,255, 0.85);
$overlayC:#7d7d7d;
$gnavBkgrd:url(../images/header-grey-grad.jpg);
$iFsize: 1.5em;